body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.video-grid-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.grid-labels {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  margin-bottom: 10px;
}

.column-label {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
}

.grid-content {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-gap: 15px;
}

.row-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle {
  word-wrap: break-word; /* Forcing the text to wrap within the container */
  white-space: normal;   /* Ensures the text doesn't stay on one line */
  max-width: 100%;      /* Optional: You can set a max-width to control the width of the text block */
  margin: 0 auto;       /* Centers the text block within its container */
}


.iframe-container {
  width: 100%;
  height: 50vh; /* Adjust height as needed */
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove the border for a cleaner look */
}

.video-section {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.main-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.video-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video-item {
  width: 45%;
  margin-bottom: 20px;
}

.video-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.video-item video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
